
#webtoqrcode-container {
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 10px;
    background: #f3f8fd;
    box-sizing: border-box;
    width: 45vw;
    z-index: 1000;
    border-radius: 10px;
}

.tiga-release-selector-box {
    padding: 10px 0;
}